<div class="app-events" *ngIf="events.length > 0">
    <ul>
        <table style="width:100%">
            <tr>
                <th>Event Name</th>
                <th>Event Type</th>

            </tr>
            <tr *ngFor="let event of events">
                <td>{{event.eventName}}</td>
                <td>{{event.eventType}}</td>
                <th><button>Edit</button></th>
                <th><button (click)="inviteUser()">Invite User</button></th>
            </tr>
        </table>
    </ul>
</div>