/* You can add global styles to this file, and also import other style files */

.jumbotron {
  background-color: #ccb3ff;
  float: left;
  height: 100px;
  width: 1500px;
  border: 2px solid #7733ff;
  padding: 10px;
  text-align: center
} 
.event-buttons {
  button {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    }
    float:left;
    padding:auto;
    margin:1px;
}