<div class="user-event-info">
    <div class="event-buttons">
        <button class="button" (click)="toggleShowEvents()">Show Events</button>
        <button class="button" (click)="createEvent()">Create Event</button>
    </div>
    <!-- <ul>
        <li *ngFor="let event of events">
            {{event.eventName}} ({{event.eventType}})
            - <a (click)="deleteEvent(event.id)" class="text-danger">Delete Event</a>
        </li>
    </ul> -->
</div>
<div class="event-component">
        <app-events></app-events>
        <!-- <event-create></event-create> -->
    </div>